* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #ffffff;
  height: 100vh;
  display: grid;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 1em 2em;
}

.application {
  margin: auto;
}

.form__area {
  width: min(25rem, 90%);
  margin-inline: auto;
}

.input__area {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.send__btn {
  background-color: #ffffff;
  color: #262626;
  cursor: pointer;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 1rem;
}

.send__btn:hover {
  background-color: #262626;
  color: #ffffff;
  outline: 1px solid #ffffff;
}
